@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #111827;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #e62727;
  --color-green: #4ce384;
  --color-blue: #62a5fa;
  --color-yellow: #b8860b;
}

body {
  font-family: var(--font-sans);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
