@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #111827;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #8d1424;
  --color-green: #4ce384;
  --color-green: #62a5fa;
  --color-yellow: #b8860b;
}

body {
  font-family: var(--font-sans);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
  transition: all 0.3s ease;
}

input,
textarea,
select {
  transition: all 0.3s ease;
}
